[user]
	name = Euhn Lee
	email = eslee@jw.org
[core]
	editor = vim
	autocrlf = false
[push]
	default = simple
[status]
	submoduleSummary = true
[credential]
	UseHttpPath = true
	helper = !aws --profile dev codecommit credential-helper $@
